.cardinfo {
    font-size: 11px;
}

.cardinfo i {
    margin-right: 5px;
}

.teamname {
    margin-right: 7px;
    background: #d1d1d1;
    color: ivory;
    padding: 2px 5px;
}

.date {
    color: #2196f3;
}