.newslist_item {
    border: 1px solid #f2f2f2;
    background: #fff;
    margin-top: 0px;
    padding: 8px 5px 0px 5px;
}

.newslist_item h2 {
    line-height: 21px;
    font-size: 13px;
    margin: 5px 0px;
    color: #525252;
}

.newslist_item a {
    text-decoration: none;
}

.newslist_wrapper {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease-in
}

.newslist_wrapper_enter {
    opacity: 1;
    transform: translateX(0%);
}

.flex_wrapper {
    display: flex;
    border-bottom: 2px solid #d5d5d5;
    background: white;
}

.flex_wrapper h2 {
    font-size: 12px;
    columns: #525252;
}

.left {
    background-size: cover !important;
}

.left div {
    width: 90px;
    height: 90px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}